@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
*{
  margin: 0;
  padding: 0;
}
.navbar ,.logo_img_div  {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
}
.logo_img_div p {
  font-size: 24px;
  margin-right: 10px;
  font-weight: bolder;
  font-family: 'Akaya Kanadaka';
}
#logo_img{
  margin: 1px 5px;
  height: 10vh;
  width: 5vw;
  border-radius: 20px;
}
.links{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 45vw;
  margin: 0 5vw;
}
.links a {
  color: #000;
  font-family: 'Viaoda Libre', cursive;
  text-decoration: none;
  font-weight: bolder;
  font-size: 22px;
  
}
.searchBox{ 

  border: 4px groove rgb(111, 214, 248);
  border-radius: 10px;
  
}
#search_input{
  width: 20vw;
  border: none;
  background: none;
  outline: none;
  padding: 4px; 
  font-size: 20px;
  font-family: monospace, cursive;
  font-weight: bolder;
}
#search_btn{
  border: 2px solid rgb(19, 186, 241);
  background: none;
  outline: none;
  padding: 5px;
  font-size: 20px;
  font-family: 'Akaya Kanadaka', cursive;
  font-weight: bolder; 
  border-radius: 7px;
}

#search_btn:hover{
  padding: 7px;
  background: rgb(19, 186, 241);
  border: none;
} 
