@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Merienda:wght@700&display=swap');
html{
  overflow-x: hidden;
}
/* textForm.js css */
*{
  font-family: monospace ;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  align-items: center;
  width: 100vw;
  margin: 20px 0;
}
#textarea , .summaryPara{
  width: 80vw;
  font-size:20px ;
  letter-spacing: 2px;
  margin-bottom: 20px ;
}
.form h1{
  font-family: 'Akaya Kanadaka';
  margin: 15px;
  width: 80vw;
  text-align: left; 
}
.btn_container {
  width: 80vw;
  display: flex;
  justify-content: space-around; 
  text-align: center;
  align-items: left;
}
.btn{
  background-color: #FF5200;
  color: white;
  padding: 8px;
  font-size: 18px;
  font-family: 'Merienda', cursive;
  font-weight: bolder;
  border: 4px groove #e44901;
  border-radius: 4px;
  
  
  
}

/* ------------------------------------------------------------------------------------ */
/* About.js  css */
.aboutDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: center;
  margin: 20px 10vw ;
  width: 80vw;
}

.aboutDiv h1{
  margin: 10px;
  width: 80vw;
  text-align: left;
  font-family: 'Akaya Kanadaka';
  
}
.about_para{
  margin: 10px;
  width: 80vw;
  font-family: monospace;
  font-size: 17px;
  font-weight: 400;
}
#creator_name_para{
  letter-spacing: 2px;
  margin: 10px;
  width: 80vw;
  font-weight: bolder;
  font-family: 'Merienda',cursive;
  font-size: 22px;
}


/* ----------------------------------------------------------------------------------- */
/*  alert.js css  */

#alert{
  background: lightgreen;
  display: block;
  width: 100vw;
  padding: 20px;
  font-size: 18px;
  font-family: monospace;
  font-weight: 500;
}
#alert_parent{
  height: 6vh;
  /* background-color: red; */
}

